<div class="container">
  <div class="title" *ngIf="isLargeScreen">
    <h2>World Clock</h2>
  </div>

  <div class="background-container">
    <div class="world-clock">
      <mat-form-field appearance="fill" class="custom-width">
        <mat-label>Select a country</mat-label>
        <mat-select [(ngModel)]="selectedCountryCode" (selectionChange)="onCountryChange()">
          <mat-option value="">Select a country</mat-option>
          <mat-option *ngFor="let country of countries" [value]="country.code">
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>

      <div *ngIf="!errorMessage && selectedCountryCode">
        <div class="clock-container">
          <div class="clock">
            <!-- Clock Numbers -->
            <div class="number number-1">1</div>
            <div class="number number-2">2</div>
            <div class="number number-3">3</div>
            <div class="number number-4">4</div>
            <div class="number number-5">5</div>
            <div class="number number-6">6</div>
            <div class="number number-7">7</div>
            <div class="number number-8">8</div>
            <div class="number number-9">9</div>
            <div class="number number-10">10</div>
            <div class="number number-11">11</div>
            <div class="number number-12">12</div>

            <!-- Clock Hands -->
            <div class="hour-hand" [style.transform]="getHourRotation()"></div>
            <div class="minute-hand" [style.transform]="getMinuteRotation()"></div>
            <div class="second-hand" [style.transform]="getSecondRotation()"></div>
          </div>
        </div>

        <!-- Display Time in Text Format -->
        <div class="time-text">
          <p><b>Current Time:</b> {{ getFormattedTime() }}</p>
        </div>

        <p class="timezone"><b>Timezone:</b> {{ timezone }}</p>
      </div>
    </div>
  </div>
</div>