/* General styles for the container */
.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  min-height: 90vh;
}

/* Styles specific to the title */
.calculator-title {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-title .mat-card {
  width: 450px;
  height: 100px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(0 14 252 / 30%);
}

.mat-card-content {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
}

/* Styles for the currency converter */
.currency-converter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-top: 2rem;
  padding: 30px;
  background: #addcfd;
  border-radius: 8px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 4px 6px rgb(0 14 252 / 30%);
  color: #000000;
}

.custom-width {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
}

.mobile-width {
  max-width: 100%;
}

.currency-converter p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

/* Responsive design */
@media (max-width: 600px) {
  .currency-converter {
    width: 80% !important;
    padding: 10px !important;
    margin-top: 7rem;
  }

  .mobile-width {
    width: 80% !important;
  }
  .custom-width {
    padding-top: 10px;
  }
}
