<div class="home-container">
  <div class="header">
    <h1>Utility Services</h1>
    <p class="subtitle">Explore our collection of useful tools and services</p>
  </div>
  
  <div class="search-container" [class.focused]="isSearchFocused">
    <div class="search-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </div>
    <input 
      type="text" 
      placeholder="Search services..." 
      class="search-input"
      [formControl]="searchControl"
      (focus)="onSearchFocus()"
      (blur)="onSearchBlur()"
    >
    <button *ngIf="searchControl.value" class="clear-button" (click)="clearSearch()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </button>
  </div>

  <div *ngIf="filteredServices.length > 0; else noResults" class="services-grid">
    <div *ngFor="let service of filteredServices" 
         class="service-card" 
         [routerLink]="service.route" 
         routerLinkActive="active"
         [style.--card-color]="service.color">
      <div class="card-icon">
        <img [src]="service.image" [alt]="service.title + ' Image'" loading="lazy">
      </div>
      <div class="card-content">
        <h3>{{ service.title }}</h3>
        <p>{{ service.description }}</p>
      </div>
      <div class="card-footer">
        <span>Try it now</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
      </div>
    </div>
  </div>

  <ng-template #noResults>
    <div class="no-results">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
      </svg>
      <h3>No services found</h3>
      <p>Try a different search term</p>
    </div>
  </ng-template>
</div>