<div class="home-container">

  <div class="service">
    <img src="./assets/calculatorImage.png" alt="Calculator Image">
    <div class="service-info">
      <h2 style="margin-top: 5rem;">Calculator</h2>
      <p>{{calculatormessage}}</p>
    </div>
  </div>

  <div class="service">
    <img src="./assets/currencyConverter.png" alt="Currency Converter Image">
    <div class="service-info">
      <h2 style="margin-top: 5rem;">Currency Converter</h2>
      <p>{{currencymessage}}</p>
    </div>
  </div>

  <div class="service">
    <img src="./assets/calculator.png" alt="Currency Converter Image">
    <div class="service-info">
      <h2 style="margin-top: 5rem;">Age Calculator</h2>
      <p>{{agecalculator}}</p>
    </div>
  </div>

  <div class="service">
    <img src="./assets/findCapital.png" alt="Find Capital Image">
    <div class="service-info">
      <h2>Find Capital</h2>
      <p>{{capitalmessage}}</p>
    </div>
  </div>

  <div class="service">
    <img src="./assets/colorPicker.jpg" alt="Color Picker Image" class="colorPicker">
    <div class="service-info">
      <h2 style="margin-top: 5rem;">Color Picker</h2>
      <p>{{ colorpicker}}
      </p>
    </div>
  </div>

  <div class="service">
    <img src="./assets/findFlag.png" alt="Find Flag Image">
    <div class="service-info">
      <h2>Find Flag</h2>
      <p>{{flagmessage}}</p>
    </div>
  </div>

  <div class="service">
    <img src="./assets/clock.png" alt="Find Universities Image">
    <div class="service-info">
      <h2 style="margin-top: 5rem;">World Clock</h2>
      <p>{{clockmessage}}</p>
    </div>
  </div>

  <div class="service">
    <img src="./assets/population.jpg" alt="Find Universities Image">
    <div class="service-info">
      <h2 style="margin-top: 5rem;">Find Population</h2>
      <p>{{population}}</p>
    </div>
  </div>
</div>