<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="title">Age Calculator</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Enter Your Birthdate</mat-label>
        <input matInput [matDatepicker]="datepicker" [(ngModel)]="birthDate" (ngModelChange)="calculateAge()">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
    </mat-card-content>
  </mat-card>



  <mat-card class="result-card">
    <mat-card-header>
      <mat-card-title>Age Result</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="birthDate" class="result">
        <mat-card class="result-item">
          <mat-card-content>
            <p><strong>Years:</strong> {{ age.years }}</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="result-item">
          <mat-card-content>
            <p><strong>Months:</strong> {{ age.months }}</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="result-item">
          <mat-card-content>
            <p><strong>Days:</strong> {{ age.days }}</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="result-item">
          <mat-card-content>
            <p><strong>Hours:</strong> {{ age.hours }}</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="result-item">
          <mat-card-content>
            <p><strong>Minutes:</strong> {{ age.minutes }}</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="result-item">
          <mat-card-content>
            <p><strong>Seconds:</strong> {{ age.seconds }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>