.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 50px;
}

.card {
  width: 80%;
  max-width: 400px;
  background-color: #addcfd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.input-wrapper {
  position: relative;
  margin-left: 64px;
  margin-top: 5px;
}

.text {
  margin-left: 8rem;
}

.input-wrapper input[type="date"] {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  width: 200px;
}

.title {
  margin-bottom: 9px;
  text-align: center;
  align-items: center;
  color: #1976d2;
  margin-left: 8rem;
}

.result-card {
  width: 80%;
  max-width: 400px;
  background-color: #dfffe1; /* Light green */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.result-item {
  background-color: #ffffff; /* White */
  margin-bottom: 10px;
}

.result-item p {
  margin: 10px;
}

.mat-form-field {
  width: 100%;
}

.result {
  margin-top: 20px;
}

.result p {
  margin: 5px 0;
}

@media (max-width: 600px) {
  .input-wrapper {
    justify-content: flex-start;
    margin-left: 25px;
  }
  .text {
    margin-left: 5rem;
  }
  .title {
    margin-left: 5rem;
  }
  .result-title {
    margin-left: 6rem;
  }
}
