<!-- color-display.component.html -->
<div class="color-container">
  <div class="color-section">
    <h2>Normal Colors</h2>
    <div class="color-boxes">
      <div *ngFor="let color of normalColors" class="color-box" (click)="onColorBoxClick($event, color)">
        <div [style.background]="color"></div>
      </div>
    </div>
  </div>
  <div class="color-section">
    <h2>Gradient Colors</h2>
    <div class="gradient-colors">
      <div *ngFor="let color of gradientColors" class="gradient-box" (click)="onColorBoxClick($event, color)">
        <div [style.background]="color"></div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedColor" class="color-formats" [style.left.px]="formatLeft" [style.top.px]="formatTop">
    <div class="close-button" (click)="selectedColor = null">&times;</div>
    <h3>{{ selectedColor }}</h3>
    <div class="format">{{ colorFormats[selectedColor] }}</div>
  </div>
</div>
