.inputbox {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #535353;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.count-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}


.result-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.result-card {
    flex: 1 1 250px;
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.result-title {
    font-weight: bold;
}

.result-value {
    margin-top: 5px;
}