/* findflag.component.css */

/* Container styles */
div {
  max-width: 600px;
  margin: 60px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  box-shadow: 0 4px 6px rgb(0 14 252 / 30%);
  background-color: #addcfd;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

/* Label styles */
label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Select styles */
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #000000;
}

/* Image styles */
img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  /* Added margin between flag and button */
  border-radius: 12px;
}

/* Button styles */
button {
  display: block;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 12px;
  background: white;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(to bottom right, #e98b07, #27f67d);
}

.custom-width {
  width: 500px;
  margin-left: 5rem;
  margin-top: 1rem;
}

.custom-width .mat-form-field-flex {
  width: 100%;
}

/* Responsive styles */
@media (max-width: 600px) {
  div {
    max-width: 100%;
    margin: 10px;
  }
}

@media (max-width: 400px) {
  select,
  button {
    font-size: 14px;
  }
}

@media (max-width: 555px) {
  .custom-width {
    max-width: 100%;
    margin-left: 5rem;
  }
}

@media (min-width: 412px) {
  .custom-width {
    max-width: 100%;
    margin-right: 5rem;
  }
}

@media (min-width: 390px) {
  .custom-width {
    max-width: 100%;
    margin-right: 5rem;
  }
}

@media (min-width: 375px) {
  .custom-width {
    max-width: 100%;
    margin-right: 5rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}
.title-box {
  background-color: #f5f5f5;
  color: #000000;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgb(0 14 252 / 30%);
  margin-bottom: 1rem;
  text-align: center;
  
}