.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
}
.custom-input-width {
  width: 500px;
}

.text-center {
  margin-bottom: 20px;
}

.button-group .btn {
  flex-grow: 1;
  margin: 5px;
}

.custom-toolbar-margin {
  margin-left: 190px;
}

@media (max-width: 576px) {
  .button-group .btn {
    width: 100%;
  }
}

.form-group {
  margin-bottom: 15px;
}

.button-group {
  margin-bottom: 15px;
}

.button-group .btn {
  margin-right: 10px;
}

.result-group {
  margin-top: 15px;
}

@media (max-width: 600px) {
  .button-group .btn {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  #select {
    width: 100%;
  }
  .custom-select {
    margin-right: 10px;
  }

  .custom-input-width {
    width: 300px;
  }
  .container {
    padding: 16px;
  }

  .custom-input-width {
    width: 100%;
  }

  .button-group {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .button-group button {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 10px;
  }
  .custom-toolbar-margin {
    margin-left: 100px;
  }
}

@media (width: 415px) {
  .custom-toolbar-margin {
    margin-left: 100px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .custom-toolbar-margin {
    margin-left: 100px;
  }
  .container {
    padding: 24px;
  }

  .button-group {
    justify-content: space-around;
  }

  .button-group button {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  #resultbtn{
    width: 93%;
    margin-left: 33px;
  }
  #select {
    width: 66%;
  }
  .custom-select {
    margin-left: 18px;
  }

  .mat-headline {
    margin-left: 20px;
  }
  .container {
    padding: 32px;
  }
  #clearbtn {
    margin-left: 18px;
  }

  .button-group {
    justify-content: space-around;
  }

  .button-group button {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 10px;
  }

  .custom-toolbar-margin {
    margin-left: 350px;
  }
  .custom-input-width {
    margin-left: 20px;
    width: 745px;
  }
}

.button-group-container {
  margin: 20px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
}

.button-group button {
  flex: 1 1 auto;
  margin-bottom: 10px;
}

.clear-button {
  margin-left: 10px;
  background-color: #e0e0e0;
}

@keyframes blink {
  0% {
    color: rgb(0, 0, 0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    color: rgb(0, 0, 0);
  }
}

.blink {
  animation: blink 1s infinite;
}

.btn-color {
  color: #ccc;
}

.note {
  font-style: italic;
  color: grey;
}