<div class="container">
  <div class="chart-section">
    <div class="select-container">
      <mat-form-field appearance="fill">
        <mat-label>Select a country</mat-label>
        <mat-select
          [(value)]="selectedCountryCode"
          (selectionChange)="fetchCountryPopulation()"
        >
          <mat-option value="" disabled>Select a country</mat-option>
          <mat-option *ngFor="let country of countries" [value]="country.cca2">
            {{ country.name.common }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div
      *ngIf="countryPopulation !== undefined"
      class="result-container"
      [ngClass]="{ blinking: isBlinking }"
    >
      Population of {{ selectedCountryName }}: {{ countryPopulation | number }}
    </div>

    <div
      class="select-container"
      *ngIf="selectedCountryCode"
      style="margin-left: 1rem"
    >
      <mat-form-field appearance="fill">
        <mat-label>Select Chart Type</mat-label>
        <mat-select [(ngModel)]="chartType" (selectionChange)="renderChart()">
          <mat-option value="bar">Bar Chart</mat-option>
          <mat-option value="pie">Pie Chart</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <canvas id="myChart" width="100" height="100" class="canvas"></canvas>
  </div>

  <div class="population-section">
    <div class="top-population">
      <h2>Top 5 Countries with High Population</h2>
      <div class="card-container">
        <div *ngFor="let country of top5HighPopulation" class="card">
          <div class="card-header">{{ country.name.common }}</div>
          <div class="card-body">{{ country.population | number }}</div>
        </div>
      </div>
    </div>

    <div class="low-population">
      <h2>Top 5 Countries with Low Population</h2>
      <div class="card-container">
        <div *ngFor="let country of top5LowPopulation" class="card">
          <div class="card-header">{{ country.name.common }}</div>
          <div class="card-body">{{ country.population | number }}</div>
        </div>
      </div>
    </div>

    <div class="additional-info-wrapper">
      <div class="additional-info">
        <h2>
          Additional Information
          <button
            mat-flat-button
            color="primary"
            (click)="openPopulationGraphModal()"
          >
            View Graph
          </button>
        </h2>
        <div *ngIf="selectedCountryCode" class="info-grid">
          <div class="info-column">
            <p><strong>Area:</strong> {{ getCountryInfo("area") }} sq. km</p>
            <p><strong>Capital:</strong> {{ getCountryInfo("capital") }}</p>
            <p><strong>Languages:</strong> {{ getCountryInfo("languages") }}</p>
          </div>
          <div class="info-column">
            <p><strong>Currency:</strong> {{ getCountryInfo("currencies") }}</p>
            <p>
              <strong>Population:</strong> {{ getCountryInfo("population") }}
            </p>
            <p>
              <strong>Continent:</strong> {{ getCountryInfo("continents") }}
            </p>
          </div>
          <div class="info-column">
            <p><strong>Timezones:</strong> {{ getCountryInfo("timezones") }}</p>
            <p>
              <strong>Bordering Countries:</strong>
              {{ getCountryInfo("borders") }}
            </p>
          </div>
          <div class="info-column">
            <p><strong>Region:</strong> {{ additionalInfo.region }}</p>
            <p><strong>Subregion:</strong> {{ additionalInfo.subregion }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" [ngClass]="{ show: isPopulationGraphModalOpen }">
      <div class="modal-content">
        <span class="close" (click)="closePopulationGraphModal()">&times;</span>
        <h2>Population Graph</h2>
        <div class="select-container" style="margin-bottom: 1rem">
          <mat-form-field appearance="fill">
            <mat-label>Select Graph Type</mat-label>
            <mat-select
              [(value)]="modalChartType"
              (selectionChange)="renderPopulationChart()"
            >
              <mat-option value="bar">Bar</mat-option>
              <mat-option value="line">Line</mat-option>
              <mat-option value="polarArea">Polar Area</mat-option>
              <mat-option value="radar">Radar</mat-option>
              <mat-option value="doughnut">Doughnut</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="chart-container">
          <canvas #populationChart width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
